<extend name="Public/base"/>
<block name="body">

	<div class="main-title clearfix ">
		<h2><empty name="info['id']">新增<else/>编辑</empty>路由使用短信</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:addons_url('Alidayu://Alidayu/updateUrl2config')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane with-padding in tab1">

			<div class="form-item cf">
				<label class="item-label">路由<span class="check-tips">（形如：Ucenter/user/doSendVerify）</span></label>
				<div class="controls">
					<input type="text" class="text form-control form-input-width" name="url" value="{$info.url}">
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">签名</label>
				<div class="controls ">
					<select name="signname_id" class="form-control form-input-width">
						<option value="">请选择</option>
						<volist name=":F('ALIDAYU_SIGNNAME')" id="vo">
							<option value="{$key}" <eq name="info['signname_id']" value="$key">selected</eq>>{$vo}</option>
						</volist>
					</select>
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">内容</label>
				<div class="controls ">
					<select name="template_id" class="form-control form-input-width">
						<volist name=":F('ALIDAYU_TPL')" id="vo">
							<option value="{$key}" <eq name="info['template_id']" value="$key">selected</eq>>
							{$vo['show_type']=='sms'?'短信':'语音'}{$vo['tpl_type']==1?'验证码':'通知'}-{$vo.template_content}
							</option>
						</volist>
					</select>
				</div>
			</div>

		</div>
		<input type="hidden" name="id" value="{$info.id}"/>
		<div class="form-item with-padding">
			<input class="btn submit-btn" type="submit" value="确 定" />
			<input class="btn btn-return" type="reset" value="重置" />
		</div>
	</form>
</block>