<!-- <div class="col-xs-5 event-cover">
    <if condition="time() lt $vo['eTime']">
        <div class="event_state" style="background: #d61f39">
            {:L('_IN_PROGRESS_')}
        </div>
        <else/>
        <div class="event_state" style="background: #000;">
            {:L('_ALREADY_OVER_')}
        </div>
    </if>

    <a class="pull-left" href="{:U('Event/Index/detail',array('id'=>$vo['id']))}">
        <img class="" src="{$vo.cover_id|getThumbImageById=320,210}"/>
    </a>
</div> -->

<div class="pull-left col-xs-12">
    <div class=" event_title">
        <a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}" class="text-more">{$vo.title}</a>
    </div>
    <div style="margin:10px;">
        <div class=" col-xs-4 pdl0 event_count">堂号：<span class="event_count">{$vo.sTime}</span>
        </div>
        <div class=" col-xs-4 pdl0 event_count">郡望：<span class="event_count">{$vo.eTime}</span>
        </div>
        <div class=" col-xs-4 pdl0 event_count">编修人：<a style="color:green" class="pdl10" href="{$vo.user.space_url}">
            <span>{$vo.user.nickname}</span></a>
        </div>
    </div>
</div>
<block name="script">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script>
        $(function () {
            $('#top_nav >li >a ').mouseenter(function () {
                $('.children_nav').hide();
                $('#children_' + $(this).attr('data')).show();
            });


            $('.event_sign').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                        console.log(this.content);
                    }
                }
            });



            /**
             * 取消报名
             * */
            $('#unSign').click(function () {
                if (confirm("{:L('_PROMPT_CANCEL_')}{:L('_QUESTION_')}")) {
                    var event_id = "{$content['id']}";
                    $.post("{:U('Event/Index/unSign')}", {event_id: event_id}, function (res) {
                        if (res.status) {
                            toast.success(res.info);
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                        else {
                            toast.error(res.info);
                        }
                    }, 'json');
                }
            });
            /**
             * 删除活动事件
             * */
            $('#delEvent').click(function () {
                if (confirm("{:L('_PROMPT_DELETE_')}{:L('_QUESTION_')}")) {
                    var event_id = "{$content['id']}";
                    $.post("{:U('Event/Index/doDelEvent')}", {event_id: event_id}, function (res) {
                        if (res.status) {
                            toast.success(res.info);
                            setTimeout(function () {
                                location.href = "{:U('index')}";
                            }, 1500);
                        }
                        else {
                            toast.error(res.info);
                        }
                    }, 'json');
                }
            });
            /**
             * 提前结束活动点击事件
             */
            $('#endEvent').click(function () {
                if (confirm("{:L('_PROMPT_OVER_')}{:L('_QUESTION_')}")) {
                    var event_id = "{$content['id']}";
                    $.post("{:U('Event/Index/doEndEvent')}", {event_id: event_id}, function (res) {
                        if (res.status) {
                            toast.success(res.info);
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                        else {
                            toast.error(res.info);
                        }
                    }, 'json');
                }
            });
        })
    </script>

</block>
